// test if this works
// could use @inport "../shortcuts";
// but using @use if i want to use a MIXIN do shortcuts.MIXIN-NAME like its an object

//tutorial here

//https://www.youtube.com/watch?v=CR-a8upNjJ0&t=195s


// @use '../shortcuts' as *;  that removes the need to use it as an object
// @use '../shortcuts' as s;  that shortens it to s.Mixinname
@import "shortcuts.scss";

html{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    .hidden{
        display: none;
    }
    h2{
        margin: 30px auto;
    }
}
body{
    padding: 0;
    margin: 0;
    header{
        padding: 1vh 1vw;
        margin-bottom: 30px;
        @include c-flex()
        background-color: rgb(255, 167, 109);
    }

    main{
        section{
            background-color: rgb(255, 167, 109);
            width: 88vw;
            margin: 15px auto;
            padding: 1vh 1vw;
            border-radius: 20px;
            div{
                width: 90%;
                margin: 30px 0;
                @include c-flex(row,flex-start,flex-start,flex-start)
                label{
                    display: block;
                    width: 20%;
                }
                input, textarea, select{
                    width: 80%;
                    font-size: 1.2em;
                    padding: 10px 0;
                    border: none;
                    max-width: 80%;
                    min-width: 80%;
                }
                &:last-of-type{
                    @include c-flex(column, center, center, c-flex-center-vnh);
                    width: 95%;
                    margin: 0 auto;
                }
                span{
                    @include c-box(flex, grey, max-content, 100%, 0)
                    @include c-flex()
                    textarea{
                        font-size: 1.2em;
                        width: 30%;
                        max-width: 30%;
                        min-width: 30%;
                        min-height: fit-content;
                        height: 20em;
                        border: grey solid 5px;
                        resize: none;
                        
                        @include c-respond(all-mobile){
                            &:focus{
                                position: fixed;
                                bottom: 0;
                                left: 0;
                                width: 50vw;
                                min-width: 50vw;
                                max-width: 50vw
                            }
                        }
                    }
                }
            }
        }
    }
}