// test if this works
// could use @inport "../shortcuts";
// but using @use if i want to use a MIXIN do shortcuts.MIXIN-NAME like its an object

//tutorial here

//https://www.youtube.com/watch?v=CR-a8upNjJ0&t=195s


// @use '../shortcuts' as *;  that removes the need to use it as an object
// @use '../shortcuts' as s;  that shortens it to s.Mixinname
@import "shortcuts.scss";

html{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    .hidden{
        display: none;
    }
}
body{
    padding: 0;
    margin: 0;
    header{
        padding: 1vh 1vw;
        margin-bottom: 30px;
        @include c-flex()
        background-color: orange;
    }
    main{
        section{
            background-color: rgb(255, 167, 109);
            width: 88vw;
            margin: 15px auto;
            padding: 1vh 1vw;
            border-radius: 20px;
            div{
                width: 90%;
                margin: 30px 0;
                @include c-flex(row,flex-start,flex-start,flex-start)
                label{
                    display: block;
                    width: 20%;
                }
                input, textarea, select{
                    width: 80%;
                    padding: 0.5em;
                    font-size: 1.2em;
                    border: none;
                    max-width: 80%;
                }
                span{
                    @include c-box(block, beige, max-content, 80%, 0)
                    p{
                        font-size: 1.2em;
                    }
                    button{
                        padding: 1em;
                        width: 90%;
                        margin: 15px 5%;
                    }
                }
            }
        }
    }
}